.clock {
display: flex;
flex-wrap: wrap;
gap: 40px 0;
width: 100%;
color: #fff;
}
.clock .time{
width: 25%;
}
.clock .value {
    font-size: 50px;
    font-weight: bold;
    font-family: cursive;

}
.clock .label {
    text-transform: uppercase;
}

@media (max-width: 700px) {
    .clock .time {
        width: 50%;
    }
}